<!DOCTYPE html>
<html lang="en" ng-app="lunchChecker">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>

    <script src="app.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Lunch Checker</title>
</head>

<body>
    <div ng-controller="input">
        <h2>Lunch Checker</h2>
        <div>
            <input type="text" ng-model="name" ng-keyup="displayNumaric();"
                placeholder="list comma separated dishes you usually have for lunch">
            <div>
                <button id="btn" ng-click="infoMessage();"> Check if Too Much</button>

            </div>
        </div>
        <!-- My name is : {{name}} <br>
       code of string: {{totalvalue}}
        <br>
        {{list}}-->
        <h3>
            {{message}}

        </h3>
    </div>

</body>

</html>